@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Commissioner';
    background: whitesmoke;
}
p{
    color: hsl(0, 0%, 48%);
    font-size: 1rem;
    line-height: 1.4rem;
    margin: 1.3rem 0;
}
header{
    background: url('./images/image-hero-desktop.jpg');
    padding: 5rem 4rem;
    width: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    background-size: contain;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-content a{
    color:white;
    text-decoration: none;
     margin: 0 2rem;    
}
.ham{
    display:none;
}
.intro{
    max-width: 700px;
    margin: -18rem auto;
    position: relative;

}
.introduction{
    background-color: white;
    text-align: center;
    margin-bottom: 3rem;
    border-radius: .9rem;
    height: 40vh;
}
 .introduction img{
    transform: translate(0, -90%);
}
  h1{
    font-size: 2rem;
    font-weight: 700;
}
 button {
    padding: 1rem 2rem;
    border-radius: 3rem;
    border:none; 
    /* margin: 1rem 2rem; */
    font-size: 1rem;
}
.btn-bookmark{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-cyan{
    background-color: hsl(176, 50%, 47%);
    color:white;

}
.btn-bookmark > button{
    font-size: 1rem;
    color:white;
    margin: 0;
    background-color:hsl(176, 50%, 47%);
    height: fit-content;
    padding: 1.3rem 3rem;

}
.btn-cyan:hover{
    background-color:hsl(176, 72%, 28%);
    transition: .3s;
}
.bookmark{
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 88%);
    border-radius: 32px;
    margin: 1rem 2rem;
}
.bookmark:hover{
    color: hsl(176, 72%, 28%);
}
.bookmark:hover .bookmark-circle{
    fill:hsl(176, 72%, 28%);
    transition: .3s;
}
.btn-gray{
    background-color: transparent;
    padding: .2rem .1rem;
}
.btn-gray:hover{
color:hsl(176, 72%, 28%);
}
.number{
    padding: 1.8rem 3rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.number-con{
    display: flex;
    gap: 2.5rem;
}
  span{
     border: 1px solid #999;
    height: 70px;  
    width: 1px;
}
  .progress-bar{
    width:500px;
background-color:hsl(0, 0%, 90%);
height: 10px;
border-radius: 2rem;
margin: 1.5rem 0;
 }
 .progress-bar div{
background-color: hsl(176, 50%, 47%);
width:80%;
height:100%;
border-radius: 2rem;
 }
.project{
    background-color: white;
    padding: 1.8rem 2rem;
    border-radius: 1rem;
}
h3{
    font-size: 1.3rem;
}
.bam{
    border: 1px solid hsl(0, 0%, 48%);
    padding: 1.2rem 2rem;
    border-radius: .8rem;
    line-height: 1.5rem;
    margin: 2rem 0;
}
.pledge{
    margin: 1rem 0;
    display: flex;
    justify-content:space-between;
}
h4{
    color: hsl(176, 50%, 47%);
}
h5{
    font-size: 1.8rem;
}
.special-edition{
    padding: 1.2rem 0;
    border-radius: 1rem;
    line-height: 1.5rem;
    display: flex;
    justify-content:space-between; 
}
 .special-edition h3{
    color:hsl(0, 0%, 48%);
    display: flex;
    justify-content:space-between;
}
.select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.select p{
    margin: -1.4rem 0 -8rem 3.3rem;
}
button-gray{
    background-color:hsl(0, 0%, 48%);
    color: white;
}
.modal{
    background: white;
    border-radius: .5rem;
    padding: 0 2rem;
    background-repeat: no-repeat;
    line-height: 1.6rem; 
    margin: 2rem 0; 
}
.close{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}
.reward{
   border:1px solid hsl(0, 0%, 48%);
   border-radius: 1rem; 
   padding: 1rem 2rem; 
   margin: 2rem 0;
   overflow: hidden;
   height: 170px;
}
.reward h3:hover{
color: hsl(176, 72%, 28%);
}
.reward:hover{
    border: 1px solid hsl(176, 50%, 47%);
    display:block;
    transition: 3s;
    height: fit-content;
}
.pledge-reward{
    display: flex;
    gap: 2.5rem;
}   
input[type='radio']#cyan{
    accent-color: hsl(176, 50%,47%);
}
.hidden-text{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    overflow: hidden;
    height: 0px;
} 
.reward:hover .hidden-text{
    height: fit-content;
    border-top: 1px solid hsl(0, 0%, 48%);
    overflow: visible;
    padding:1rem 0;
    transition: all .3s ease-in-out;
}
.btn-transparent:hover{
    border: 1px solid hsl(176, 50%, 47%);
} 
.special{
    display:flex;
    gap:2rem;
}
.special h3{
  color: hsl(0, 0%, 48%);  
}
.support{
 background-color: white; 
 margin: 2rem auto;
 padding: 1.4rem 2rem;
 text-align: center;  
 border-radius: .5rem;
}
.support h2{
    padding: 1rem 0;
}
@media screen and (max-width: 900px){
    header{
        background-image:url('./images/image-hero-mobile.jpg');
        padding: 2rem 1.8rem;
        height: 400px;
        background-size: cover;
        background-position: center;
        position: relative;;
    }
   .nav-content{
    position: absolute;
    z-index: 1;
    background-color: whitesmoke;
    height: fit-content;
    width: 80%;
    margin: 0 auto;
    max-width: 400px;
    opacity: 0;
    pointer-events: none;
    border-radius: 3%;
    transform: translate(-50%, 0);
    left: 50%;
    top: 4rem;
    }
    .show-nav{
  opacity: 1;
  pointer-events: all;
    }
    .nav-content a{
        color:black;
        display: block;
        margin: 2rem 1rem;
        /* text-align: center; */

    }
    .ham{
        display: block;
    }
    .intro{
        position: relative;
    margin: -5rem 0;
  padding: 0 1rem;
    }
    .introduction{  
  height: auto;
  padding: 2em;
    }
    .btn-bookmark > button{
        padding: .7rem 1rem;
    }
    .btn-gray{
        display: none;
    }
    .number-con{
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
    h2{
        font-size: 2.5rem;
    }
    span{
        height: 1px;
        width: 100%;
    }
    .progress-bar{
      width: 80%;
      margin: 1rem 0;
    }
    .pledge{
        flex-direction: column;
    }
    h3, h4{
        margin: .4rem 0;
    }
    .select{
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
    .select h5{
        margin: 1.5rem 0;
    }
    .special-edition{
        flex-direction: column;
    }
    .modal{
        display: none;
    }
    .summary{
        display: none;
    }
}